body {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h1 {
    font-family: "Comfortaa", sans-serif;
    color: white;
    text-shadow: -0px -0px 0 #000, 0px -0px 0 #000, -0px 0px 0 #000, 4px 4px 0 #000;
    cursor: pointer;
}

header img {
    height: 10em;
    width: 100%;
}

header h1 {
    margin-top: -120px;
}

.carousel-item img {  
    object-fit: cover;
    object-position: center;
    overflow: visible;
    height:60vh;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /*Using RGBA lets us change the opacity of the color 0.5 black */
}

.display-3 {
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
}

#news {
    height:30vh;
}