h1 {
    font-family: "Comfortaa", sans-serif;
    color: white;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    
    
}

.jumbotron {
    margin:-2px;
    padding: 50px;
    background-image: url("../images/jumbotroncover.png");
    /* filter: blur(10px) */
}
